h1{

text-align: center;


}

body{
    background-color: rgb(0, 174, 255);
}

img{
    width: 300px;
    height: auto;
}


    .messi{
        width: 300px;
        height: 200px;
    }
body {
    color: #ff0000;
    
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #0065fd;
        text-align: center;
    }
    header {
        background-color: #ff0000;
        color: #2f00ff;
        padding: 20px;
        text-align: center;
    }
    nav {
        background-color: #ff0000;
        color: #6f00ff;
        padding: 10px;
        text-align: center;
    }
    nav a {
        text-decoration: none;
        color: #4400ff;
        margin: 0 10px;
        text-align: center;
    }
    nav a:hover {
        text-decoration: underline;
        text-align: center;
    }
    section {
        padding: 20px;
        margin: 20px;
        background-color: #0077ff;
        text-align: center;
    }
    footer {
        background-color: #ff0000;
        color: #0d1cf7;
        text-align: center;
        padding: 10px;
        position: fixed;
        bottom: 0;
        width: 100%;

header {
    background-color: #333;
    color: #200dca;
    padding: 20px;
    text-align: center;
}
nav {
    background-color: #ff0000;
    color: #1000f7;
    padding: 10px;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: #2600ff;
    margin: 0 10px;
    text-align: center;
}
nav a:hover {
    text-decoration: underline;
    text-align: center;
}
section {
    padding: 20px;
    margin: 20px;
    background-color: #2600ff;
    text-align: center;
}
footer {
    background-color: #ff0000;
    color: #430fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}}